@media  screen and (max-width:1200px) {
    footer li,footer span, footer p{
        font-size: 0.90rem;
    }
    #citat i{
        left: -1.3rem;
    }
    .az-box h5{
        font-size:1.05rem;
    }
    .az-m{
        font-size: 0.86rem!important;
    }
    .az-meni img{
        width: 22.7rem;
    }
    #meniStrana::after{
        width: 48%;
    }
    #meniStrana .az-mb-5{
        margin-bottom: 2rem!important;
    }
}
@media  screen and (max-width:1024px) {
    html{
        font-size: 0.9em;
    }
    header h1.fs-1{
        font-size: 2rem !important;
    }
    .az-m{
        font-size: 0.9rem!important;
    }
}
@media  screen and (max-width:991px) {
    .imgVelika img{
        width: 21rem;
    }
    .az-meni img{
        width: 19.3rem;
    }
    #meniStrana::after{
        width: 50%;
    }
    #sefKuhinje::after{
        width: 45%;
    }
    .az-mb-5{
        margin-bottom: 0rem!important;
    }
    .az-pad{
        padding: 0px 10% 0px 10%;
    }
    .card-body .row{
        width: 67%!important;
    }
    .card-body .card-text.py-3{
        margin-bottom: 0rem;
        font-size: 0.9rem;
    }
    footer p{
        text-align: center;
    }
    footer ul.row, footer h3,h3.text-start{
        text-align: center!important;
    }
    footer .copy{
        margin: 0px auto;
        margin-bottom: 1rem;
    }
    #contact{
        display: flex;
        justify-content: space-between;
    }
    ul{
        padding-left:0rem;
    }
    .az-box h5{
        font-size:1rem;
    }
    .az-m{
        font-size: 0.85rem!important;
    }
    #uslugeStrana::after{
        width: 47%;
        height: 57%;
    }
}
@media  screen and (max-width:768px) {
    html{
        font-size: 0.8em;
    }
    header{
        background-image: url(../images/bgCover4.jpg);
    }
    .carousel, .carousel-item img{
        height: 50rem;
    }
    #sefKuhinje{
        top: 1px;
    }
    footer li,footer span, footer p{
        font-size: 1rem;
    }
}
@media  screen and (max-width:767px) {
    #sefKuhinje .row > div:nth-child(1),#Autor .row > div:nth-child(1),#uslugeStrana .row > div:nth-child(1),#meniStrana .row > div:nth-child(1){
        margin-top: 3rem;
        text-align: center;
        align-items: center;
    }
    #sefKuhinje::after,#Autor::after,#meniStrana::after{
        width: 63%;
        height: 38%;
        bottom: 3rem;
    }
    #Autor::after{
        height: 33%;
    }
    #uslugeStrana::after{
        width: 0%;
        height: 0%;
    }
    #Vestine .text-end{
        text-align: center!important;
    }
    .az-icon{
        width: 5.2rem;
        height: 5.2rem;
        top: -2.5rem;
        left: -2rem;
    }
    .card-body .card-text{
        margin-bottom: 0.5rem;
    }
    .carousel-item img{
        width: 50%;
    }
    footer li,footer span, footer p{
        font-size: 0.93rem;
    }
    footer .container{
        max-width: 90%;
    }
    .az-meni{
        margin-top: 2rem;
    }
}
@media screen and (max-width:660px){
    #contact{
        flex-direction: column;
        text-align: center;
    }
    #autorMreze .w-75{
        width: 85%!important;
    }
    #meniStrana::after{
        width: 75%;
    }
    .az-meni img{
        width: 22rem;
    }
}
@media screen and (max-width:600px) {
    main > #carouselSliderIndicators .carousel-indicators button{
        background-size: 4rem 4.7rem;
        width: 4rem !important;
        height: 4.7rem !important;
    }
    #sefKuhinje::after{
        width:73%;
    }
    .imgVelika img{
        width:22rem;
    }
    .card-body .az-icon{
        top: -3rem;
    }
    .card-body .row {
        width: 75%!important;
    }
    #meniStrana::after{
        width: 80%;
    }

}
@media screen and (max-width:430px) {
    html{
        font-size: 0.7em;
    }
    .carousel,.carousel-item img {
        height: 40rem;
    }
    .imgVelika img{
        width:20rem;
    }
    #Autor::after{
        height: 30%;
    }
    #Autor::after{
        width: 70%;
    }
    #sefKuhinje::after{
        width: 77%;
    }
    .card-body .row {
        width: 100%!important;
    }
    #autorMreze .w-75{
        width: 100%!important;
    }
}
@media  screen and (max-width:350px) {
    header a{
        flex-direction: column;
    }
    #Autor::after{
        width: 75%;
    }
    #meniStrana::after{
        width: 88%;
        height: 34%;
    }
    #meniStrana .imgVelika img{
        width: 19rem;
    }
}
@media  screen and (max-width:320px) {
    #sefKuhinje::after{
        width: 85%;
    }
    #Autor::after{
        width: 82%;
    }
}